@model foro_C.Models.Respuesta



@{
    ViewData["Title"] = "Crear Respuesta";
    var preguntaItems = (SelectList)ViewData["PreguntaId"];
}

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Pregunta a responder</label>
        <select asp-for="PreguntaId" asp-items="preguntaItems" class="form-select"></select>
    </div>

    <div class="mb-3">
        <label>Respuesta</label>
        <textarea asp-for="Texto" class="form-control"></textarea>
        <span asp-validation-for="Texto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar respuesta</button>
</form>


