@model Foro2._0.Models.ViewModel.InicioSesion


@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Login" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="EmailOUsername"></label>
        <input asp-for="EmailOUsername" class="form-control" />
        <span asp-validation-for="EmailOUsername" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}