@model IniciarSesion

@{
    ViewData["Title"] = "Iniciar Sesión";
}
<link rel="stylesheet" href="~/css/login.css" />

<div class="login-container">
    <h2>Iniciar sesión</h2>
    <form asp-action="IniciarSesion">
        <div class="form-group">
            <label asp-for="UserName">Usuario o Email </label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password" >Contraseña</label>
            <input asp-for="Password" class="form-control" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Recordarme" class="form-check-label"></label>
            <input asp-for="Recordarme" class="form-check-label" />
            <span asp-validation-for="Recordarme" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit"  value="IniciarSesion" class="btn btn-primary btn-block">Iniciar sesión</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="form-links">
            <a href="ForgotPassword">¿Has olvidado tu contraseña?</a><br />
            <span>¿Es tu primera vez? <a href="Registrar">Regístrate</a></span>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}