@model Foro2._0.Models.ViewModel.RegistroUsuario

@{
    ViewData["Title"] = "Registro de Miembro";
}

<h2 class="text-center mt-4">Registro de Miembro</h2>

<form asp-action="RegistrarMiembro" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Foto de perfil</label>
        <input type="file" name="ImagenPerfil" class="form-control" accept="image/*" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Apellido" class="form-label"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="ConfirmarPassword" class="form-label"></label>
        <input asp-for="ConfirmarPassword" class="form-control" />
        <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

