@model foro_C.Models.Entrada

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Entrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Privada" /> @Html.DisplayNameFor(model => model.Privada)
                </label>
            </div>
            <div class="form-group d-flex align-items-center">
                <div style="flex:1;">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                </div>
                <a asp-controller="Categorias" asp-action="Create" class="btn btn-outline-primary ml-2" style="margin-left:10px;">Crear nueva categoría</a>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="MiembroId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" />
                <p><strong>Miembro:</strong> @User.Identity.Name</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver atras</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
