@{
    ViewData["Title"] = "Reglas de la Comunidad";
}
<div class="rules-container">
    <div class="rules-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="rules-content">
        <div class="rules-section">
            <h1>Introducción</h1>
            <p>
                Foro_C es una vasta red de comunidades que crean, administran y frecuentan los usuarios de Foro_C como tú.
            </p>
            <p>
                A través de estas comunidades, puedes publicar, comentar, votar, hablar, aprender, debatir, apoyar y conectar con personas que comparten tus intereses, y te animamos a encontrar, o incluso crear, tu hogar en Foro_C.
            </p>
            <p>
                Aunque no todas las comunidades encajen contigo (puede que no te identifiques con ellas o que las encuentres ofensivas), ninguna debe utilizarse como arma. Las comunidades deben crear un sentimiento de pertenencia en sus miembros y no tratar de apagarlo en los demás. Del mismo modo, todos los que pertenecemos a Foro_C debemos tener una expectativa de privacidad y seguridad, por lo que debemos respetar la privacidad y seguridad de los demás.
            </p>
        </div>

        <div class="rules-section">
            <h1>Reglas</h1>
            <div class="rules-section">
                <h2>Regla 1</h2>
                <p>Recuerda al ser humano. Foro_C es un lugar para crear comunidad y pertenencia, no para atacar a grupos de personas marginados o vulnerables. Todo el mundo tiene derecho a usar Foro_C sin recibir acoso, bullying ni amenazas de violencia. Se banearán las comunidades y usuarios que inciten a la violencia o que promuevan el odio por motivos de identidad o vulnerabilidad.</p>
            <h2>Regla 2</h2>
            <p>Cumple con las reglas de la comunidad. Publica contenido auténtico en comunidades en las que tengas un interés personal y no hagas trampas ni participes en la manipulación del contenido (incluido el spam, la manipulación de votos, la evasión de baneo o el fraude de suscriptores) ni interfieras o alteres las comunidades de Foro_C.</p>
                <h2>Regla 3</h2>
                <p>Respeta la privacidad de los demás. No se permite instigar el acoso, por ejemplo, revelando información personal o confidencial de alguien. No publiques o amenaces con publicar contenido multimedia íntimo o sexualmente explícito de alguien sin su consentimiento.</p>

                <h2>Regla 4</h2>
                <p>No compartas ni animes a compartir contenidos sexuales, ofensivos o insinuantes que impliquen a menores. También está estrictamente prohibido cualquier comportamiento depredador o inapropiado que implique a un menor.</p>

                <h2>Regla 5</h2>
                <p>No tienes que usar tu verdadero nombre para utilizar Foro_C, pero no te hagas pasar por una persona o una entidad de manera engañosa.</p>

                <h2>Regla 6</h2>
                <p>Asegúrate de que las personas tengan experiencias predecibles en Foro_C etiquetando correctamente el contenido y las comunidades, especialmente el contenido gráfico, sexualmente explícito u ofensivo.</p>

                <h2>Regla 7</h2>
                <p>Mantén todo legal y evita publicar contenido ilegal o solicitar o facilitar transacciones ilegales o prohibidas.</p>

                <h2>Regla 8</h2>
                <p>No rompas el sitio ni hagas nada que interfiera con el uso normal de Foro_C.</p>
        </div>
        </div>

        <div class="rules-section">
            <h1>Aplicación</h1>
            <p>Tenemos varias formas de hacer que nuestras reglas se cumplan, incluidas, entre otras, las siguientes:</p>
            <ul>
                <li>Pedirte amablemente que dejes de hacer algo</li>
                <li>Pedírtelo no tan amablemente</li>
                <li>Suspensión de las cuentas de forma temporal o permanente</li>
                <li>Eliminación de privilegios de las cuentas o restricción de las mismas</li>
                <li>Añadir restricciones a las comunidades de Foro_C, como las etiquetas 18+, o ponerlas en cuarentena</li>
                <li>Retirada de contenido</li>
                <li>Baneo de comunidades</li>
            </ul>
        </div>
    </div>
</div>
      