@{
    ViewData["Title"] = "Acuerdo del usuario";
}
<div class="rules-container">
    <div class="rules-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="rules-content">
        <div class="rules-section">
            <h2>1.  Tu acceso a los Servicios</h2>
            <p>
                Los menores de 13 años no pueden usar los Servicios ni acceder a ellos. Algunos de nuestros Servicios requieren que seas más mayor para utilizarlos. Por ejemplo, debes tener al menos 18 años para ver contenido para adultos en Reddit. Lee detenidamente todos los avisos y los Términos adicionales cuando accedas a los Servicios.

                Al utilizar los Servicios, declaras que:
            </p>
            <ul>
            <li> Tienes al menos 13 años y superas la edad mínima requerida por las leyes de tu país de residencia para acceder a los Servicios y utilizarlos;</li>
            <li>
                Puedes celebrar un contrato vinculante con Foro_C, si tienes más de 13 años pero eres menor de edad en tu jurisdicción, tu tutor legal ha revisado y está de acuerdo con estos Términos;
            </li>
            <li>
                No recae sobre ti prohibición alguna de usar los Servicios según las leyes aplicables; 
            </li>
            <li>   No se te ha suspendido ni eliminado permanentemente de los Servicios.</li>
           </ul>
        </div>

        <div class="rules-section">
            <h2>2. Privacidad</h2>
            <p>En la Política de privacidad de Foro_C se explica cómo y por qué recopilamos, usamos y compartimos información sobre ti cuando accedes a nuestros Servicios o los usas. Al usar los Servicios, aceptas que recopilemos y usemos esta información tal y como se establece en la Política de privacidad.</p>
        </div>

        <div class="rules-section">
            <h2>3.Tu uso de los Servicios</h2>
            <p>
                Sujeto a tu cumplimiento absoluto y continuo de estos Términos, Foro_C te otorga una licencia personal, intransferible, no exclusiva, revocable y limitada para: (a) instalar y utilizar una copia de nuestra aplicación móvil asociada con los Servicios, obtenida de una tienda de aplicaciones legítima, en un dispositivo móvil de tu propiedad o controlado por ti; y (b) acceder a los Servicios y utilizarlos. Nos reservamos todos los derechos que estos Términos no te otorgan expresamente.
          <br />
                Excepto y únicamente en la medida en que dicha restricción sea inadmisible según la ley aplicable, no puedes, sin nuestro acuerdo por escrito:
            </p>
        
               <ul>
            <li>otorgar licencias, vender, transferir, ceder, distribuir, alojar o explotar comercialmente los Servicios o el Contenido;</li>
            <li>
               modificar, elaborar trabajos derivados, desensamblar, descompilar o realizar ingeniería inversa de cualquier parte de los Servicios o del Contenido;
            </li>
            <li>
             acceder a los Servicios o al Contenido para crear un sitio web, producto o servicio similar o competitivo, excepto según lo permitido en los Términos adicionales (como se define a continuación).
            </li>
           </ul>
            <p>
                Siempre estamos mejorando nuestros Servicios. Esto significa que podemos añadir o eliminar funciones, productos o funcionalidades; intentaremos avisarte de antemano, aunque no siempre será posible. Nos reservamos el derecho de modificar, suspender o interrumpir los Servicios (en su totalidad o en parte) en cualquier momento, con o sin previo aviso. Cualquier versión futura, actualización u otra adición a la funcionalidad de los Servicios estará sujeta a estos Términos, que pueden actualizarse ocasionalmente. Aceptas que no seremos responsables ante ti ni ante ningún tercero por ninguna modificación, suspensión o interrupción de los Servicios o de cualquier parte de estos.

                Personalizamos tu experiencia en los Servicios en función de varios factores, incluida tu actividad en los Servicios, las comunidades a las que te has suscrito y las preferencias que has identificado en tu configuración. Basándonos en estos y otros factores, podemos hacer recomendaciones para que tu experiencia en Reddit sea más relevante. Para obtener más información sobre tus recomendaciones de contenido, así como una descripción de cómo puedes controlar ciertas opciones de personalización, consulta nuestro Centro de ayuda.
            </p>
        </div>

        <div class="rules-section">
            <h2>4. Tu cuenta de Foro y la seguridad de tu cuenta</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>
        <div class="rules-section">
            <h2>5. Tu contenido</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>
        <div class="rules-section">
            <h2>6. Contenido, anuncios y promociones de terceros</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>
        <div class="rules-section">
            <h2>7. Cosas que no puedes hacer</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>
        <div class="rules-section">
            <h2>8. Propiedad intelectual</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>
        <div class="rules-section">
            <h2>9.Legislación aplicable y jurisdicción</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>
        <div class="rules-section">
            <h2>10. Términos adicionales</h2>
            <p>Respeta la privacidad de otros. No compartas información personal sin autorización.</p>
        </div>

    </div>
</div>